body {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.mod {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 660px;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.mod__container{
    box-sizing: border-box;
    margin-bottom: 20px;
}

.mod__submit, .mod__input {
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

.mod__submit {
    background-color: #89dcdd;
    width: 30%;
    float: left;
}

.mod__input {
    width: 70%;
    margin: 0;
    padding: 0;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.mod__request-name{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}

.mod__request-name--active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.mod__player {
    font-size: 35px;
}
